/.env/
/ord/
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
/.idea/
/conformers/
*_tmp/
/build/
.vscode
.codex/
/data/ui/assets/structures
.coverage
.coverage.*
htmlcov/
.venv/
venv/
.DS_Store

*.backup
/*.json
/*.jsonl
/*.txt
!/requirements*.txt
merged_reactions_parsed.jsonl
test.html
!/CMakeLists.txt

data/structures

*.pdf

.codex