data/*.jsonl !text !filter !merge !diff
data/*.txt !text !filter !merge !diff
data/structures/*.svg !text !filter !merge !diff
data/assets/chems_properties/crc_handbook/flammability.pdf filter=lfs diff=lfs merge=lfs -text
data/assets/chems_properties/crc_handbook/inorganic_constants.pdf filter=lfs diff=lfs merge=lfs -text
data/assets/chems_properties/crc_handbook/organic_constants.pdf filter=lfs diff=lfs merge=lfs -text
data/assets/chems_properties/bigsol.csv filter=lfs diff=lfs merge=lfs -text
data/raw_reactions/*.jsonl filter=lfs diff=lfs merge=lfs -text
data/raw_reactions/raw_reactions_verdict.jsonl -filter -diff -merge text
data/raw_reactions/raw_reactions_verdict.jsonl !text -filter -merge -diff
